@media (min-width: 320px){
  .main-nav{
    min-height: 56px;
    background-color: #81b3d2;
    margin-bottom: 55px;
  ul{
    font-size: 0;
    line-height: 0;
    line-height: 14px;

  }
  li{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
  }
  .main-nav__cancel{
    position: absolute;
    right: 20px;
    top: 16px;
  }
  .main-nav__toogle{
    position: absolute;
    right: 20px;
    top:239px;
    color: #000;
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }

}

}
@media (min-width: 768px)
{

  .main-nav{
    min-height: 56px;
    margin: auto;
    background-color: #ffffff;
    ul{
      font-size: 0;
      line-height: 0;
      line-height: 14px;
      margin: 0;
      padding: 0;
    }
    li{
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      margin-right: 30px;
      margin-left: 30px;
      padding-top: 21px;
      padding-bottom: 21px;
      vertical-align: middle;
      text-transform: uppercase;
      color: #000;
    }
    a {
      text-decoration: none;
      color: #000;
    }

  }
  .main-nav__toogle{
    display: none;
  }
  .main-nav__cancel{
    display: none;
  }
}
@media (min-width: 1200px){

.main-nav{
  min-height: 56px;
  margin: 0 auto;
  background-color: #ffffff;
  ul{
    font-size: 0;
    line-height: 0;
    line-height: 14px;
    margin: auto;
    padding: 0;
  }
  li{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 21px;
    padding-bottom: 21px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000;
  }
  a {
    text-decoration: none;
    color: #000;
  }

}
.main-nav__toogle{
  display: none;
}
.main-nav__cancel{
  display: none;
}

}
