@media (min-width: 320px) {
  .main-nav {
    @include container(320px);
    min-height: 56px;
    background-color: #81b3d2;
    text-align: center;
    box-shadow: -2px 1px 2px rgba(0, 0, 0, .15), 2px 1px 2px rgba(0, 0, 0, .15);
    .main-nav__list {
      display: flex;
      flex-direction: column;
      font-size: 0;
      line-height: 0;
      line-height: 14px;
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .main-nav__item {
      position: relative;
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      margin: auto;
      padding-top: 21px;
      padding-bottom: 21px;
      vertical-align: middle;
      text-transform: uppercase;
      border-bottom: 1px solid $darkblue;
      border-top: 1px solid $lightblue;
      justify-content: center;
      color: $white;
      &:hover {
        color: $blue;
      }
    }
    .main-nav__item:nth-child(1) {
      border-top: none;
    }
    .main-nav__item--logo {
      padding-top: 0;
      max-height: 35px;
      z-index: 2;
      order: 5;
      background-color: $white;
      border-bottom: none;
      border-top: none;
    }
    .main-nav__cancel {
      border: none;
      background: none;
      position: absolute;
      min-height: 28px;
      min-width: 28px;
      right: 20px;
      top: 14px;
      font-size: 0;
      background-image: url("../img/icons/icon-cross.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    .main-nav__toogle {
      border: none;
      background: none;
      position: absolute;
      min-height: 23px;
      min-width: 23px;
      right: 20px;
      top: 18px;
      background-image: url("../img/icons/icon-menu.svg");
      background-repeat: no-repeat;
      color: #000;
      font-size: 0;
    }
    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}
@media (min-width: 768px) {
  .main-nav {
    @include container(768px);
    min-height: 56px;
    margin: 0 auto;
    padding: 0;
    background-color: $white;
    .main-nav__list {
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      line-height: 14px;
      display: flex;
      flex-direction: row;
    }
    .main-nav__item {
      padding: 0;
      font-size: 14px;
      font-weight: bold;
      vertical-align: middle;
      text-transform: uppercase;
      color: #000;
      border-bottom: none;
      border-top: none;
    }
    .main-nav__item:nth-child(1) {
      order: 1;
    }
    .main-nav__item:nth-child(2) {
      order: 2;
    }
    .main-nav__item--logo {
      order: 3;
      max-height: 56px;
      position: relative;
      z-index: 2;
    }
    .main-nav__item:nth-child(4) {
      order: 4;
    }
    .main-nav__item:nth-child(5) {
      order: 5;
    }
    a {
      text-decoration: none;
      color: #000;
    }
  }
  .main-nav__toogle {
    display: none;
  }
  .main-nav__cancel {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    @include container(1200px);
  }
}
