@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin container($width) {
  position: relative;
  max-width: $width; 
  width: 100%;
  margin: auto;
  background-color: #fff;
}
