@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin container($width) {
  position: relative;
  width: $width;
  margin: auto;
  background-color: #fff;
}
