.page-video{
  width: 265px;
  margin: auto;
 margin-top: 65px;
 text-align: center;
 text-transform: uppercase;
}
.page-video__title{
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}
.page-video_text{
  font-size: 14px;
  line-height: 24px;
}
