@media (min-width: 320px) {
  .page-form__wrap {
    width: 100%;
    max-height: 144px;
    margin: auto;
  }
  .page-form__btn {
    border: none;
    width: 100%;
    min-height: 58px;
    margin-top: 15%;
    color: $white;
    background-color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    &:hover {
      background-color: $darkblue2;
    }
  }
  .page-form__btn:focus {
    background-color: $darkbluemenu;
    color: $menutext;
    outline: none;
  }
  .page-form__requiredfields {
    display: none;
    font-size: 14px;
    text-transform: uppercase;
  }
}
@media (min-width: 768px) {
  .page-form__btn {
    margin: 0;
    width: 324px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .page-form__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    max-height: 173px;
  }
  .page-form__requiredfields {
    display: flex;
    width: 46%;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .page-form__btn {
    width: 50%;
    margin-left: 0;
  }
  .page-form__requiredfields {
    width: 50%;
  }
}
