@media (min-width: 320px) {
  .page-image {
    @include container(320px);
  }
  .page-image--main {
    min-height: 388px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx){
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-image--left {
    min-height: 260px;
    background-image: url("../img/photo-bridge@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx){
      background-image: url("../img/photo-bridge@2x.jpg");
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-image--right {
    min-height: 260px;
    background-image: url("../img/photo-city@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx){
      background-image: url("../img/photo-city@2x.jpg");
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-image--triangle{
    position: absolute;
    top: 93.3%;
    width: 100%;
    }
    .page-image--sedonatext{
      position: absolute;
      min-height: 340px;
      left: 50%;
      transform: translateX(-50%);
      min-height: 340px;
      min-width: 276px;
      background-image: url(../img/text-sedona-index.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 280px 400px;
    }
}
@media (min-width: 768px) {
  .page-image {
    @include container(768px);
  }
  .page-image--main {
    min-height: 520px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx){
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
    }
  .page-image--right {
    width: 70%;
  }
  .page-image--left {
    width: 70%;
    min-height: 252px;
  }
  .page-image--triangle{
    background-image: url(../img/bg-intro-triangle-tablet.svg);
    top:89%;
  }
  .page-image--sedonatext{
    min-height: 520px;
    min-width: 540px;
    background-image: url(../img/text-sedona-index.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 493px 357px;

  }
}
@media (min-width: 1200px) {
  .page-image {
    @include container(1200px);
    width: 70%;
  }
  .page-image--main{
    width: 93.3%;
  }
  .page-image--triangle{
    top:89%;
    background-image: url(../img/bg-intro-triangle-desktop.svg);
  }
}
