@media (min-width: 320px) {
  .page-social {
    display: flex;
    flex-wrap: wrap;
    padding-top: 44px;
    width: 48%;
    justify-content: space-between;
    margin: 0;
    max-height: 49px;
    span {
      display: none;
    }
  }
  .page-social__icon {
    width: 46px;
    min-height: 49px;
    background-color: $blue;
    &:hover{
      background-color: $darkblue2;
    }
    background-repeat: no-repeat;
    background-position: center;
    }
  .page-social__icon--twitter {
    background-image: url("../img/icons/icon-twitter.svg");

    &:focus{

      background-image: url("../img/icons/icon-twitter-blue.svg");
    }

  }
  .page-social__icon--fb {
    background-image: url("../img/icons/icon-facebook.svg");
    &:focus{

      background-image: url("../img/icons/icon-facebook-blue.svg");
    }


  }
  .page-social__icon--youtube {
    background-image: url("../img/icons/icon-youtube.svg");
    &:focus{

      background-image: url("../img/icons/icon-youtube-blue.svg");
    }
  }
}
@media (min-width: 768px) {
  .page-social {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 22.33%;
    justify-content: space-between;
    margin: 0;
    max-height: 49px;
    span {
      display: none;
    }
  }
  .page-social__icon {
    margin: 0;
    width: 46px;
    min-height: 49px;
    background-color: $blue;
    display: inline-block;

  }
}
@media (min-width: 1200px)
{
  .page-social {
    width: 14.33%;
  }

}
