@media (min-width: 320px) {
  .page-welcomemessage {
    @include container(320px);
    padding-top: 45px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 33px;
  }
  .page-welcomemessage__title {
    width: 310px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
  }
  .page-welcomemessage__text {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .page-welcomemessage {
    @include container(768px);
    padding-top: 45px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 33px;
  }
  .page-welcomemessage__title {
    width: 421px;
    margin: auto;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 40px;
  }
  .page-welcomemessage__text {
    width: 430px;
    margin: auto;
    font-size: 14px;
    line-height: 24px;
  }
}
