@media (min-width: 320px) {
  .page-title {
    @include container(320px);
    min-height: 157px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;


     }
  .page-title__imgsedona{

  }
}
@media (min-width: 768px) {
  .page-title {
    @include container(768px);
    min-height: 294px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }
  .page-title__imgsedona{
    max-height: 81px;
    min-width: 540px;
    background-image: url(../img/text-sedona-index.svg);
    background-position: center;
    background-repeat: no-repeat;
    }

}
