@media (min-width: 320px) {
  .page-formblock{
    @include container(320px);
  }
  .page-formblock__title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 27px;
    paddin-top: 22px;
  }
  .page-formblock__group {
    width: 90.4%;
    margin: auto;
  }
  .page-formblock__group2 {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  .page-formblock__field {
    min-height: 56px;
    display: inline-block;
    padding-left: 16px;
    margin-bottom: 21px;
    background-color: $gray;
    border: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    width: 190px;
  }
  .page-formblock__field--superlong {
    width: 222px;
  }
  .page-formblock__title--center{
    text-align: center;
  }
  .page-formblock__label {
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
  }
  .page-formblock__icon {
    position: absolute;
    top: 0;
    left: 205px;
  }
  .page-formblock__label--long {
    margin-left: 30px;
  }
  .page-formblock__label--bold {
    font-weight: bold;
    text-transform: capitalize;
  }
  .page-formblock__textarea {
    width: 86.4%;
    display: block;
    margin: auto;
        background: $gray;
    border: none;
    min-height: 160px;
    padding-top: 18px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
  }
  fieldset {
    border-style: hidden;
    padding: 0;
  }
  .page-formblock__icon {
    min-width: 58px;
    min-height: 58px;
    background-color: $darkgray;
  }
  .page-formblock__icon--tel {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-formblock__icon--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (min-width: 768px) {
  .page-formblock {
    @include container(768px);
  }
  .page-formblock__wrap {
    width: 86.4%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .page-formblock__item {
    width: 50%;
  }
  .page-formblock__item--personaldata {}
  .page-formblock__item--contacts {
    width: 100%;
  }
  .page-formblock__item--impression {
    order: -1;
    width: 50%;
  }
  .page-formblock__item--landmarks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
.page-formblock__item--landmarks .page-formblock__title{
  width: 100%;
}
 .page-formblock__column{
   width: 50%;
 }
 .page-formblock__column--left{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
 }
 .page-formblock__contactwrap{
   display: flex;
   flex-wrap: wrap;
 }
 .page-formblock__item--contacts .page-formblock__label--long
 {
   width: 100%;
 }

  .page-formblock__emotions{
    width: 100%;
  }
  .page-formblock__title {
    display: block;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 27px;
    paddin-top: 22px;
  }
  .page-formblock__title--center{
    text-align: center;
  }
  .page-formblock__group {
    display: block;
  }
  .page-formblock__group2 {
    margin: 0;
    position: relative;
    width: 100%;
  }
  .page-formblock__field {
    min-height: 56px;
    display: inline-block;
    padding-left: 16px;
    margin-bottom: 21px;
    background-color: $gray;
    border: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    width: 100%;
  }
  .page-formblock__field--long {}
  .page-formblock__field--superlong {
    width: 222px;
  }
  .page-formblock__label {
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
  }
  .page-formblock__icon {
    position: absolute;
    top: 0;
    left: 205px;
  }
  .page-formblock__label--long {
    margin-left: 30px;
  }
  .page-formblock__label--bold {
    font-weight: bold;
    text-transform: capitalize;
  }
  .page-formblock__textarea {
  padding: 0;
  margin: 0;
  width: 100%;
  }
  fieldset {
    border-style: hidden;
    padding: 0;
  }
  .page-formblock__icon {
    min-width: 58px;
    min-height: 58px;
    background-color: $darkgray;
  }
  .page-formblock__icon--tel {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-formblock__icon--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
