@media (min-width: 320px){
  .page-social {
    margin-top: 40px;
    margin-bottom: 30px;
    min-height: 49px;
    span{
      display: none;
    }
  }
  .page-social__icon{
    width: 46px;
    min-height: 49px;
    background-color: $blue;
    display: inline-block;
    margin-right: 7px;
  }
  .page-social__icon--twitter{
    background-image: url(../img/icon-twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-social__icon--fb{
    background-image: url(../img/icon-facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-social__icon--youtube{
    background-image: url(../img/icon-youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (min-width: 768px){
  .page-social {
    float: left;
    margin-top:-15px;
    margin-left: 113px;
    margin-bottom: 30px;
    min-height: 49px;
    span{
      display: none;
    }
  }
  .page-social__icon{
    width: 46px;
    min-height: 49px;
    background-color: $blue;
    display: inline-block;
    margin-right: 7px;
  }
  .page-social__icon--twitter{
    background-image: url(../img/icon-twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-social__icon--fb{
    background-image: url(../img/icon-facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-social__icon--youtube{
    background-image: url(../img/icon-youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
