@media (min-width: 768px) {
  width: 640px;
  .page-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  width: 960px;
  .page-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 320px) {
  .page-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }
}
