@media (min-width: 768px){
  width: 640px;
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1200px){
  width: 960px;
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 340px){
  width: 960px;
  .logo {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);

  }
}
