.page-video {
  width: 265px;
  margin: 65px auto auto;
  text-align: center;
  text-transform: uppercase;
}
.page-video__title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}
.page-video_text {
  font-size: 14px;
  line-height: 24px;
}
