@media (min-width: 320px) {
  .page-features {
    @include container(320px);
    text-transform: uppercase;
    text-align: center;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, .15), 2px 2px 2px rgba(0, 0, 0, .15);
  }
  .page-features__left {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: $blue;
  }
  .page-features__name {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .page-features__name--white {
    color: $white;
  }
  .page-features__number {
    margin-top: 20px;
  }
  .page-features__number--white {
    color: $white;
  }
  .page-features__text {
    margin: auto;
    width: 80%;
    margin-top: 30px;
  }
  .page-features__text--white {
    color: $white;
  }
  .page-features__right {
    background-color: $blue;
    padding-top: 45px;
    padding-bottom: 38px;
  }
  .page-features__withicon {
    padding-top: 40px;
    text-align: left;
    margin-left: 24px;
  }
  .page-features__withicon .page-features__text {
    width: 66%;
  }
  .page-features__gray {
    background-color: $gray;
    padding-top: 48px;
  }
  .page-features__text--gray {
    padding-bottom: 50px;
    border-bottom: 2px solid $grayforline;
  }
  .page-features__text--withoutbottom {
    border: none;
  }
  .page-features__withicon--home::before {
    content: " ";
    position: absolute;
    min-height: 40px;
    min-width: 42px;
    background-image: url("../img/icons/icon-house.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42px 40px;
  }
  .page-features__withicon--gift::before {
    content: " ";
    position: absolute;
    min-height: 40px;
    min-width: 42px;
    background-image: url("../img/icons/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42px 40px;
  }
  .page-features__withicon--burger::before {
    content: " ";
    position: absolute;
    min-height: 40px;
    min-width: 42px;
    background-image: url("../img/icons/icon-burger.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42px 40px;
  }
  .page-features__text--withicon {
    margin: 0 0 0 60px;
  }
  .page-features__name--big {
    width: 100%;
    margin: auto auto auto 20%;
  }
  .page-features__withicon:last-child {
    padding-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .page-features {
    @include container(768px);
    text-transform: uppercase;
    text-align: center;
    display: flex;
  }
  .page-features__left {
    width: 33%;
    background-color: $blue;
    padding-bottom: 38px;
  }
  .page-features__name {
    width: 43%;
    margin: auto;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 18px;
  }
  .page-features__name--big3 {
    width: 53%;
  }
  .page-features__name--big2 {
    width: 67%;
  }
  .page-features__name--white {
    color: $white;
  }
  .page-features__number {
    margin-top: 20px;
  }
  .page-features__number--white {
    color: $white;
  }
  .page-features__text {
    margin: auto;
    width: 80%;
    margin-top: 30px;
  }
  .page-features__text--white {
    color: $white;
  }
  .page-features__right {
    background-color: $blue;
    width: 33%;
    padding-bottom: 38px;
  }
  .page-features__withicon {
    margin: 0;
    text-align: center;
    padding-left: 0;
    padding-bottom: 68px;
    width: 33.33%;
  }
  .page-features__withicon .page-features__text {
    width: 71%;
    margin: auto;
  }
  .page-features__withicon--home {
    order: 1;
    &::before {
      content: " ";
      display: flex;
      position: static;
      min-height: 78px;
      min-width: 80px;
      background-image: url("../img/icons/icon-house.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80px 78px;
      padding-bottom: 30px;
    }
  }
  .page-features__withicon--gift {
    order: 3;
    &::before {
      content: " ";
      display: flex;
      position: static;
      min-height: 78px;
      min-width: 80px;
      background-image: url("../img/icons/icon-gift.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80px 78px;
      padding-bottom: 30px;
    }
  }
  .page-features__withicon--burger {
    order: 2;
    &::before {
      content: " ";
      display: flex;
      position: static;
      min-height: 78px;
      min-width: 80px;
      background-image: url("../img/icons/icon-burger.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80px 78px;
      padding-bottom: 30px;
    }
  }
  .page-features__gray {
    width: 33.34%;
  }
  .page-features__text--gray {
    border-bottom: none;
  }
  .page-features__text--withicon {
    width: 63%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .page-features {
    @include container(1200px);
  }
  .page-features__right {
    width: 35%;
  }
  .page-features__left {
    width: 35%;
  }
}
