@media (min-width: 320px) {
  .page-form__btn {

    border: none;
    width: 91%;
    min-height: 58px;
    margin-left:4.5%;
    margin-top: 15%;
    color: $white;
    background-color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .page-form__btn {
     margin: 0;
    border: none;
    width: 285px;
    margin: 50px auto auto 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    background-color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }
}
