@media (min-width: 320px) {
  .page-foundhotel {
    @include container(320px);
    background-color: $white;
    padding-bottom: 41px;
  }
  .page-foundhotel__button {
    background-color: $blue;
    width: 277px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: bold;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
@media (min-width: 768px) {
  .page-foundhotel {
    @include container(768px);
    background-color: $white;
    padding-bottom: 41px;
  }
  .page-foundhotel__button {
    width: 458px;
    
  }
}
@media (min-width: 1200px) {
  .page-foundhotel {
    @include container(1200px);
  }
}
