@media (min-width: 320px) {
  .page-formblock {
    box-shadow: -2px 2px 2px rgba(0, 0, 0, .15), 2px 2px 2px rgba(0, 0, 0, .15);
    @include container(320px);
    overflow: hidden;
  }
  .page-formblock__wrap {
    width: 87.5%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .page-formblock__item {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    padding-top: 18px;
    &::before {
      content: "";
      width: 200vw;
      height: 1px;
      background: $linegray;
      display: block;
      position: absolute;
      top: 10px;
      left: -50%;
      z-index: 10;
    }
  }
  .page-formblock__item--personaldata {
    &::before {
      display: none;
    }
  }
  .page-formblock__title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 27px;
    font-family: PTsans Bold;
  }
  .page-formblock__item--contacts {
    position: relative;
    padding-top: 30px;
    padding-bottom: 18px;
  }
  .page-formblock__item--impression {
    padding-top: 30px;
  }
  .page-formblock__contactwrap {
    margin-bottom: 17%;
    &:last-child {
      margin: 0;
    }
  }
  .page-formblock__group {
    display: flex;
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
  }
  .page-formblock__group2 {
    width: 94.4%;
    position: relative;
    display: inline-block;
  }
  .page-formblock__field {
    min-height: 56px;
    display: inline-block;
    padding-left: 16px;
    background-color: $gray;
    border: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    &:focus {
      outline: none;
    }
  }
  .page-formblock__field--superlong {
    width: 100%;
  }
  .page-formblock__title--center {
    text-align: center;
  }
  .page-formblock__label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
  }
  .page-formblock__label--long {
    margin-left: 7%;
  }
  .page-formblock__item--landmarks {
    padding-top: 30px;
  }
  .page-forblock__group--big {
    width: 103%;
  }
  .page-formblock__icon {
    position: absolute;
    top: 0;
    right: -6%;
  }
  .page-formblock__textarea {
    width: 95%;
    padding-left: 5%;
    display: block;
    margin: auto;
    background: $gray;
    border: none;
    min-height: 150px;
    padding-top: 18px;
    font-size: 18px;
    line-height: 26px;
    font-family: Ptsans Bold;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  fieldset {
    border-style: hidden;
    padding: 0;
  }
  .page-formblock__icon {
    min-width: 58px;
    min-height: 58px;
    background-color: $darkgray;
  }
  .page-formblock__icon--tel {
    background-image: url("../img/icons/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-formblock__icon--email {
    background-image: url("../img/icons/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    cursor: pointer;
  }
  input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 56px;
    width: 56px;
    border-radius: 28px;
    margin-right: 10px;
    background-color: $gray;
  }
  input[type="checkbox"] + label {
    cursor: pointer;
  }
  input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 56px;
    width: 56px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: $gray;
  }
  input[type="checkbox"]:checked + label::before {
    background-image: url("../img/icons/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  input[type="radio"]:checked + label::before {
    background-image: url("../img/circle.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  .page-formblock__error {
    position: absolute;
    top: 58%;
    left: 5%;
    color: red;
    font-size: 14px;
  }
  .page-formblock__label--bold {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
  }
  .page-formblock__item--personaldata .page-formblock__title--tablet {
    display: none;
  }
  .page-formblock__label--desktop {
    display: none;
  }
  .page-formblock__item--emotions {
    padding-top: 30px;
  }
  .page-formblock__popuperror {
    display: block;
    display: none;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    background-color: $white;
    min-height: 330px;
    width: 400px;
    box-shadow: 0 0 7px 5px rgba(221, 221, 221, 0.32);
  }
  .page-formblock__item--emotions .page-formblock__title--error {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 46px;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    &::before {
      display: none;
    }
  }
  .page-formblock__text--popup {
    line-height: 24px;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 43px;
  }
  .page-formblock__btn {
    border: none;
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 58px;
    color: $white;
    background-color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .page-formblock {
    @include container(768px);
  }
  .page-formblock__item::before {
    display: none;
  }
  .page-formblock__radiobutton {
    font-size: 18px;
  }
  .page-formblock__wrap {
    width: 84%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .page-formblock__group--checked:nth-child(1) {
    order: 1;
  }
  .page-formblock__group--checked:nth-child(2) {
    order: 3;
  }
  .page-formblock__group--checked:nth-child(3) {
    order: 2;
  }
  .page-formblock__group--checked:nth-child(4) {
    order: 4;
  }
  .page-formblock__item {
    width: 50%;
    padding-bottom: 0;
    padding-top: 35px;
  }
  .page-formblock__item--personaldata .page-formblock__title--desktop {
    display: none;
  }
  .page-formblock__item--personaldata .page-formblock__title--tablet {
    display: flex;
    padding-right: 11%;
    padding-bottom: 12%;
  }
  .page-formblock__item--personaldata::before {
    content: "";
    display: block;
    width: 1px;
    height: 90%;
    background: #eeeeee;
    position: absolute;
    box-sizing: border-box;
    top: 10%;
    left: 0;
  }
  .page-formblock__item--contacts {
    position: relative;
    width: 100%;
  }
  .page-formblock__item--impression {
    order: -1;
    width: 50%;
    position: relative;
  }
  .page-formblock__item--landmarks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 31px;
    position: relative;
  }
  .page-formblock__item--contacts .page-formblock__title {
    width: 100%;
    margin: auto;
    padding-top: 31px;
    padding-bottom: 24px;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $gray;
      position: absolute;
      box-sizing: border-box;
      top: 80px;
    }
  }
  .page-formblock__item--landmarks .page-formblock__title {
    width: 100%;
    margin: auto;
    padding-top: 13px;
    margin-top: 12px;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: #eeeeee;
      position: absolute;
      box-sizing: border-box;
      top: 81px;
    }
  }
  .page-formblock__title span {
    width: 53%;
    position: relative;
    background: white;
    display: inline-block;
  }
  .page-formblock__column {
    width: 50%;
  }
  .page-formblock__column--left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .page-formblock__contactwrap {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .page-formblock__item--contacts .page-formblock__label--long {
    width: 100%;
    padding-bottom: 1%;
  }
  .page-formblock__item--emotions {
    position: relative;
    width: 100%;
  }
  .page-formblock__item--emotions .page-formblock__title {
    width: 100%;
    margin: auto;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $gray;
      position: absolute;
      box-sizing: border-box;
      top: 47px;
    }
  }
  .page-formblock__title {
    width: 96%;
    display: block;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5%;
  }
  .page-formblock__group2:first-child {
    padding-bottom: 5%;
  }
  .page-formblock__title--center {
    text-align: center;
  }
  .page-formblock__group {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 21px;
    width: 100%;
  }
  .page-formblock__group2 {
    margin: 0;
    display: flex;
    position: relative;
    width: 100%;
  }
  .page-formblock__item--landmarks .page-formblock__group3 {
    margin-left: 119px;
  }
  .page-formblock__group3 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 138px;
    justify-content: center;
  }
  .page-formblock__group3 .page-formblock__group {
    margin: 0;
    width: 50%;
    padding-bottom: 21px;
  }
  .page-formblock__field {
    min-height: 56px;
    display: inline-block;
    padding-left: 16px;
    background-color: $gray;
    border: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    width: 100%;
  }
  .page-formblock__field--long {}
  .page-formblock__label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
  }
  .page-formblock__icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  .page-formblock__label--long {
    margin-left: 18px;
  }
  .page-formblock__item--personaldata {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .page-formblock__item--personaldata .page-formblock__group {
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: 21px;
    width: 80%;
    justify-content: flex-end;
  }
  .page-formblock__item--impression .page-formblock__group {
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: 22px;
    width: 90%;
    justify-content: flex-start;
  }
  .page-formblock__item--impression .page-formblock__title {
    margin-bottom: 14%;
  }
  .page-formblock__contactwrap {
    margin-left: 3%;
    &:last-child {
      margin-top: -1%;
      margin-left: 3%;
    }
  }
  .page-formblock__textarea {
    padding: 0;
    margin: 0;
    width: 97%;
    height: 22px;
    margin-top: 2%;
    padding-top: 1.5%;
    padding-left: 3%;
    font-size: 18px;
  }
  fieldset {
    border-style: hidden;
    padding: 0;
  }
  .page-formblock__icon {
    min-width: 58px;
    min-height: 58px;
    background-color: $darkgray;
  }
  .page-formblock__icon--tel {
    background-image: url("../img/icons/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-formblock__icon--email {
    background-image: url("../img/icons/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-formblock__error {
    display: inline-block;
    position: absolute;
    top: 36%;
    right: 0;
    left: initial;
    color: red;
  }
  .page-formblock__field--phone {
    margin-bottom: 30px;
  }
  .page-formblock__label--bold {
    text-transform: capitalize;
    font-size: 18px;
  }
  .page-formblock__label--desktop {
    display: none;
  }
  .page-formblock__popuperror {
    display: block;
    display: none;
    position: absolute;
    left: 50%;
    top: -3%;
    transform: translateX(-50%);
    background-color: $white;
    min-height: 348px;
    width: 400px;
    box-shadow: 0 0 7px 5px rgba(221, 221, 221, 0.32);
  }
  .page-formblock__item--emotions .page-formblock__title--error {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 66px;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    &::before {
      display: none;
    }
  }
  .page-formblock__text--popup {
    line-height: 24px;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 43px;
  }
  .page-formblock__btn {
    border: none;
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 58px;
    color: $white;
    background-color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
  }
}
@media (min-width: 1200px) {
  .page-formblock {
    @include container(1200px);
  }
  .page-formblock__wrap {
    width: 80%;
  }
  .page-formblock__item {
    padding-top: 30px;
  }
  .page-formblock__item--personaldata .page-formblock__title--desktop {
    display: flex;
  }
  .page-formblock__item--impression .page-formblock__group {
    width: 80%;
    margin-top: 23px;
  }
  .page-formblock__item--personaldata .page-formblock__group {
    width: 85%;
    margin-top: 12px;
  }
  .page-formblock__item--contacts .page-formblock__title {
    padding-top: 41px;
    padding-bottom: 40px;
  }
  .page-formblock__item--contacts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .page-formblock__item--impression .page-formblock__title {
    padding-left: 16%;
    margin-bottom: 6%;
  }
  .page-formblock__item--personaldata .page-formblock__title {
    padding-left: 75px;
  }
  .page-formblock__contactwrap {
    flex-wrap: nowrap;
    width: 50%;
  }
  .page-formblock__item--contacts .page-formblock__label--long {
    width: 57%;
    padding-bottom: 0;
  }
  .page-formblock__contactwrap {
    margin-left: 0;
    &:last-child {
      margin-top: 3.5%;
      display: flex;
      margin-left: 5%;
    }
  }
  .page-formblock__contactwrap--tel {
    width: 42.5%;
    margin-top: 3.5%;
  }
  .page-formblock__label--mobile {
    display: none;
  }
  .page-formblock__label--desktop {
    display: inline-flex;
    width: 22%;
  }
  .page-formblock__label--mail {}
  .page-formblock__field--phone {
    width: 84%;
  }
  .page-formblock__icon {
    right: 11%;
    width: 59px;
    left: 252px;
  }
  .page-formblock__item--personaldata {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .page-formblock__field--phone {
    margin-bottom: 0;
  }
  .page-formblock__item--impression {
    width: 50%;
  }
  .page-formblock__group3 {
    margin: 0;
    padding-top: 23px;
    margin-top: -2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
  }
  .page-formblock__group3 .page-formblock__group:last-child {
    flex-shrink: 1.12;
    order: 4;
  }
  .page-formblock__error {
    position: absolute;
    top: 61%;
    left: 10%;
  }
  .page-formblock__title span {
    width: 34%;
  }
  .page-formblock__title {
    padding-bottom: 4%;
  }
  .page-formblock__label--bold {
    text-transform: capitalize;
    font-size: 18px;
  }
  .page-formblock__item--personaldata .page-formblock__title--tablet {
    display: none;
  }
  .page-formblock__label--desktop {
    display: flex;
  }
  .page-formblock__item--landmarks {
    padding-top: 0;
  }
  .page-formblock__item--landmarks .page-formblock__title {
    &::before {
      top: 50px;
    }
  }
  .page-formblock__item--landmarks .page-formblock__group3 {
    margin-left: 0;
  }
  .page-formblock__item--emotions .page-formblock__title::before {
    top: 43px;
  }
  .page-formblock__textarea {
    margin-top: 1%;
    margin-left: 0;
  }
  .page-formblock__item--contacts .page-formblock__title::before {
    top: 83px;
  }
}
