@media (min-width: 320px) {
  .page-welcomemessage {
    box-shadow: -2px 2px 2px rgba(0, 0, 0, .15), 2px 2px 2px rgba(0, 0, 0, .15);
    @include container(320px);
    padding-top: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 26px;

  }
  .page-welcomemessage__title {
    width: 310px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 31px;
    font-weight: bold;
    &::before{
      content: "";
width: 320px;
height: 1px;
background: #e5e5e5;
display: block;
position: absolute;
bottom: 2%;

z-index: 10;
    }
  }
  .page-welcomemessage__text {
    font-size: 14px;
    line-height: 24px;
    width: 96%;
    margin: auto;

  }
}
@media (min-width: 768px) {
  .page-welcomemessage {
    @include container(768px);
    padding-top: 74px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 33px;
  }
  .page-welcomemessage__title {
    width: 50%;
    margin: auto;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 30px;
    &::before{
      display: none;
    }
  }
  .page-welcomemessage__text {
    width: 65%;
    margin: auto;
    font-size: 14px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .page-welcomemessage {
    @include container(1200px);
    padding-top: 110px;
  }
  .page-welcomemessage__text{
    width: 41%;
  }
}
