@media (min-width: 320px) {
  .page-title {
    @include container(320px);
    min-height: 157px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx){
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
    background-repeat: no-repeat;
    background-size: cover;
     }
  .page-title__imgsedona{
    position: absolute;
    left:50%;
    top: 48%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 228px;
    background-image: url("../img/text-sedona.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-title__triangle{
    position: absolute;
    height: 28px;
    width: 100%;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    bottom: -1px;

  }
}
@media (min-width: 768px) {
  .page-title {
    @include container(768px);
    min-height: 294px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx){
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
    }
  .page-title__imgsedona{
    top: 50%;
    height: 81px;
    width: 463px;
    }
    .page-title__triangle{
      background-image: url("../img/bg-intro-triangle-desktop.svg");
       height: 62px;
       bottom: -2px;
    }

}
@media (min-width: 1200px){
  .page-title {
    @include container(1200px);
    min-height: 303px;
  }
}
