.page-footer {
  margin-top: 40px;
  display: block;
  text-align: center;
  a {
    text-decoration: none;
    color: $black;
  }
}
.page-footer__visit {
  font-size: 21px;
  line-height: 26px;
  text-weight: bold;
  text-transform: uppercase;
}
.page-footer__developers {
  font-size: 14px;
  text-transform: uppercase;
}
.page-footer__imgdevelopers {
  text-transform: uppercase;
}
