@media (min-width: 320px) {
  .page-social {
    display: flex;
    flex-wrap: wrap;
    padding-top: 44px;
    width: 48%;
    justify-content: space-between;
    margin: 0;
    max-height: 49px;
    font-size: 0;
  }
  .page-social__icon {
    display: flex;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: $blue;
    &:hover {
      background-color: $darkblue2;
    }
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-social__svg {
    fill: $white;
    &:focus {
      fill: $darkblue;
    }
  }
  .page-social__svg--twitter {
    width: 21px;
    min-height: 18px;
  }
  .page-social__svg--facebook {
    width: 10px;
    min-height: 20px;
  }
  .page-social__svg--youtube {
    width: 21px;
    min-height: 18px;
  }
}
@media (min-width: 768px) {
  .page-social {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 22.33%;
    justify-content: space-between;
    margin: 0;
    max-height: 49px;
  }
  .page-social__icon {
    margin: 0;
    width: 46px;
    min-height: 49px;
    background-color: $blue;
  }
}
@media (min-width: 1200px) {
  .page-social {
    width: 14.33%;
  }
}
