@media (min-width: 320px) {
  .page-features {
    @include container(320px);
    @include clearfix;
    color: white;
    text-transform: uppercase;
    background: $blue;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 2px;
    position: relative;
  }
  .page-featureswithicon {
    display: block;
    width: 320px;
    margin: auto;
  }
  .page-featuresgray {
    width: 320px;
    margin: auto;
    text-align: center;
  }
  .page-features__left {}
  .page-features__right {}
  .page-features__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 18px;
    color: $black;
  }
  .page-features__name--white {
    color: white;
  }
  .page-features__number {
    font-size: 14px;
    line-height: 21px;
    color: $black;
  }
  .page-features__number--white {
    color: white;
  }
  .page-features__text {
    margin-top: 23px;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 50px;
    color: $black;
  }
  .page-features__text--white {
    color: $white;
  }
  .page-features__withicon {
    background-color: white;
    padding-top: 40px;
    padding-left: 60px;
    text-align: left;
  }
  .page-features__icon {
    position: absolute;
    min-width: 40px;
    margin-left: -52px;
    margin-top: -5px;
  }
  .page-features__icon--burger {
    background-image: url("../img/icon-burger.svg");
    min-height: 35px;
  }
  .page-features__icon--home {
    background-image: url("../img/icon-house.svg");
    min-height: 38px;
  }
  .page-features__icon--souvenir {
    background-image: url("../img/icon-gift.svg");
    min-height: 38px;
  }
  .page-features--gray {
    background-color: $gray;
  }
  .page-features__text--gray {
    margin: 20px auto auto;
    border-bottom: solid 1px $black;
    &:last-of-type {
      border-bottom: none;
    }
  }
}
@media (min-width: 768px) {
  .page-features {
    @include container(768px);
    @include clearfix;
    color: white;
    text-transform: uppercase;
    background: $blue;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 2px;
    position: relative;
  }
  .page-featureswithicon {
    display: inline-block;
    width: 768px;
    margin: auto auto auto 260px;
  }
  .page-featuresgray {
    display: inline-block;
    width: 768px;
    margin: auto auto auto 260px;
  }
  .page-features__left {
    width: 256px;
  }
  .page-features__right {
    float: right;
    width: 256px;
  }
  .page-features__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 18px;
    color: $black;
  }
  .page-features__name--white {
    color: white;
  }
  .page-features__number {
    font-size: 14px;
    line-height: 21px;
    color: $black;
  }
  .page-features__number--white {
    color: white;
  }
  .page-features__text {
    margin-top: 23px;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 50px;
    color: $black;
  }
  .page-features__text--white {
    color: $white;
  }
  .page-features__withicon {
    background-color: white;
    padding-top: 40px;
    float: left;
    padding-left: 0;
    width: 33.333%;
    margin: auto;
    text-align: center;
  }
  .page-features__icon {
    position: absolute;
    min-width: 40px;
    margin-left: -52px;
    margin-top: -5px;
  }
  .page-features__icon--burger {
    background-image: url("../img/icon-burger.svg");
    min-height: 35px;
  }
  .page-features__icon--home {
    background-image: url("../img/icon-house.svg");
    min-height: 38px;
  }
  .page-features__icon--souvenir {
    background-image: url("../img/icon-gift.svg");
    min-height: 38px;
  }
  .page-features--gray {
    background-color: $gray;
    float: left;
    padding-left: 0;
    width: 33.333%;
    text-align: center;
  }
  .page-features__text--gray {
    border-bottom: solid 1px $black;
    &:last-of-type {
      border-bottom: none;
    }
  }
}
