body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  min-width: 768px;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f2f2f2;
}
