@import "page-svg.scss";
@import "mixin.scss";
@import "fonts.scss";
@import "scaffolding.scss";
@import "variables.scss";
@import "main-nav.scss";
@import "page-interests.scss";
@import "page-features.scss";
@import "page-footer.scss";
@import "page-foundhotel.scss";
@import "page-image.scss";
@import "page-info.scss";
@import "page-map.scss";
@import "page-social.scss";
@import "page-title.scss";
@import "page-welcomemessage.scss";
@import "page-photoblock.scss";
@import "page-likes.scss";
@import "page-video.scss";
@import "page-formblock.scss";
@import "page-form.scss";
@import "page-map.scss";
