$blue: #81b3d2;
$white: #fefefe;
$black: #000000;
$gray: #eeeeee;
$gray2: #dbdbdb;
$darkgray: #e6e6e6;
$darkgray2: #5c6870;
$darkblue: #678fa8;
$lightblue: #9ac2db;
$darkblue2: #669ec0;
$grayforline: #d6d6d6;
$htmlacademy: #b2b2b2;
$linegray:#e5e5e5;
